{% extends 'base.html' %}
{% block content %}

	{% if user.is_authenticated %}
        <div>
            <p class="display-4">Hello, {{ user.username }}</p>
            <a href="{% url 'new_recipe' %}">Add a new recipe</a><br>
            <a href="{% url 'recipe_list' %}">View all recipes</a><br>
        </div><br>
        <div>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
	{% else %}
        <div>
            <p>You are logged out</p>
            <a class="lead" href="{% url 'login' %}">Log in</a>
        </div>
	{% endif %}
{% endblock %}

